n8n/Seguimiento Whatsapp AC (1).json
{
  "name": "Seguimiento Whatsapp AC",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/whatsapp/seguimiento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        1632
      ],
      "id": "66e0854b-5165-4b09-bef1-d09c9046b593",
      "name": "Webhook1",
      "webhookId": "77e74597-930e-4d47-ab7f-97e562bbd066",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5bf21d51-ba93-4d56-8b85-a06c57cf3506",
              "name": "client_number",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "551ea109-80b3-49fa-8bdc-bf3075ca9797",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "db486842-caf4-444d-b19b-92c84fd0fbef",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "979f7058-bf6a-4495-9706-3ee06672ea4f",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "38ac694e-6373-46a1-a42d-f7be0e5a6dcc",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "3fa3c2e3-2b81-42a4-bfc8-9ff7dcb8d657",
              "name": "instanceId",
              "value": "={{ $json.body.data.instanceId }}",
              "type": "string"
            },
            {
              "id": "853d4fac-3aa9-46b3-81b8-4f704b172d2b",
              "name": "date_time",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "ccb62ac7-b906-4ec1-bf70-1c1e62a7fdc0",
              "name": "sender",
              "value": "={{ $json.body.sender.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "02f65169-7a5d-4aab-a4f3-decbf9bfee38",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "05187792-7b08-47d2-b151-7086392ffd3c",
              "name": "state",
              "value": "={{ $json.body.data.state }}",
              "type": "string"
            },
            {
              "id": "969ba463-814a-439e-8d09-29cd8e41b548",
              "name": "wauid",
              "value": "={{ ($json.body?.sender ?? $json.sender).split('@')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        1632
      ],
      "id": "cd7209f3-0fae-4406-9b85-ef6a500bc0d9",
      "name": "Mapeando mensaje1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3b63a106-95bc-486a-90c8-604dd6f7f289",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2112,
        1648
      ],
      "id": "23794d09-f497-4255-bc53-a49deb49470b",
      "name": "¿Existe la conversacion?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b87eefe1-0a09-4620-85f7-44fd60b869f9",
              "leftValue": "={{ $('Enrutar evento1').item.json.conversation }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1520,
        1648
      ],
      "id": "7df6b35b-d926-4863-a8a2-69173ed0beca",
      "name": "Filter1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d57224ae-5c51-4b3e-a0ec-4afba6125d18",
              "leftValue": "={{ $('Mapeando mensaje1').item.json.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3184,
        1296
      ],
      "id": "fdbb195b-0003-4419-9118-abd26426e0cb",
      "name": "fromMe?1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "faedda7e-381b-4ca6-bae6-e9e84d9602a8",
              "leftValue": "={{ $('Mapeando mensaje1').item.json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3024,
        1760
      ],
      "id": "fe575821-0df2-464c-ad47-c0ffb87afa39",
      "name": "from Me?1"
    },
    {
      "parameters": {
        "sendTo": "mateollerena40@gmail.com",
        "subject": "⚠️ Desconexion de Instancia",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n  <head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n    <title>Notificación de desconexión</title>\n    <style>\n      body {\n        margin: 0;\n        padding: 0;\n        background: #f5f7fb;\n        font-family: Arial, Helvetica, sans-serif;\n        color: #1a1a1a;\n      }\n      .email-container {\n        max-width: 600px;\n        margin: 24px auto;\n        background: #ffffff;\n        border-radius: 8px;\n        overflow: hidden;\n        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);\n      }\n      .header {\n        background: #202c33;\n        color: #e9edef;\n        padding: 16px 20px;\n        font-size: 18px;\n        font-weight: 600;\n      }\n      .content {\n        padding: 20px;\n        line-height: 1.6;\n        font-size: 15px;\n      }\n      .row label {\n        display: inline-block;\n        width: 160px;\n        color: #555;\n        font-weight: 600;\n      }\n      .row span {\n        color: #111b21;\n      }\n      .footer {\n        padding: 16px 20px;\n        background: #f0f2f5;\n        color: #555;\n        font-size: 12px;\n        text-align: center;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"email-container\">\n      <div class=\"header\">Se acaba de desconectar de la instancia.</div>\n\n      <div class=\"content\">\n        <div class=\"row\">\n          <label>📅 Fecha:</label>\n          <span>{{ $now.format(\"dd-MM-yyyy\") }}</span>\n        </div>\n        <div class=\"row\">\n          <label>⏰ Hora:</label>\n          <span>{{ $now.format(\"HH:mm:ss\") }}</span>\n        </div>\n        <br />\n        <div class=\"row\">\n          <label>Nombre instancia:</label>\n          <span>{{ $json.as_nombre }}</span>\n        </div>\n        <div class=\"row\">\n          <label>Número:</label>\n          <span>{{ $json.as_num_whatsapp }}</span>\n        </div>\n      </div>\n\n      <div class=\"footer\">\n        Este correo es informativo y se genera automáticamente.\n      </div>\n    </div>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1632,
        1408
      ],
      "id": "bb4d05c4-3e3a-4e51-860c-623adea26c3b",
      "name": "Notificar desconexion1",
      "webhookId": "117bc521-6052-48cc-aefe-fc2dd1889227",
      "credentials": {
        "gmailOAuth2": {
          "id": "yrGMYZiyiVmiGGE0",
          "name": "Gmail | mateollerena40@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversaciones",
          "mode": "list",
          "cachedResultName": "conversaciones"
        },
        "where": {
          "values": [
            {
              "column": "co_cliente_numero",
              "value": "={{ $('Mapeando mensaje1').item.json.client_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        1648
      ],
      "id": "fc239335-42c3-479d-8cf1-ad0d8a98e514",
      "name": "Buscar conversaciones1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "7oc7RqApG6OhhiFs",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "asesores",
          "mode": "list",
          "cachedResultName": "asesores"
        },
        "where": {
          "values": [
            {
              "column": "as_num_whatsapp",
              "value": "={{ $('Mapeando mensaje1').item.json.sender }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2528,
        1760
      ],
      "id": "c966d4d1-27d4-4f3e-b5ac-a26cc2ee4174",
      "name": "Obtener datos del asesor1",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "7oc7RqApG6OhhiFs",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "asesores",
          "mode": "list",
          "cachedResultName": "asesores"
        },
        "where": {
          "values": [
            {
              "column": "as_num_whatsapp",
              "value": "={{ $('Mapeando mensaje1').item.json.sender }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2672,
        1296
      ],
      "id": "d0b53358-a35c-4cb7-8048-7a62266fab7d",
      "name": "Obtener datos del asesor ",
      "credentials": {
        "postgres": {
          "id": "7oc7RqApG6OhhiFs",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversaciones",
          "mode": "list",
          "cachedResultName": "conversaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "co_id": "={{ $('¿Existe la conversacion?1').item.json.co_id }}",
            "co_nom_cliente": "={{ $('Mapeando mensaje1').item.json.pushName }}"
          },
          "matchingColumns": [
            "co_id"
          ],
          "schema": [
            {
              "id": "co_id",
              "displayName": "co_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "co_fe_inicio",
              "displayName": "co_fe_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "co_fe_fin",
              "displayName": "co_fe_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "co_estado",
              "displayName": "co_estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "co_asesor_id",
              "displayName": "co_asesor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "co_cliente_numero",
              "displayName": "co_cliente_numero",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "co_nom_cliente",
              "displayName": "co_nom_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3520,
        1136
      ],
      "id": "ffcff1f2-9bf9-40e8-9518-58a4a62e1948",
      "name": "Actualizar nombre del cliente1",
      "credentials": {
        "postgres": {
          "id": "7oc7RqApG6OhhiFs",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "mensajes",
          "mode": "list",
          "cachedResultName": "mensajes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "me_from_me": "={{ $('Mapeando mensaje1').item.json.fromMe }}",
            "me_conv_id": "={{ $('¿Existe la conversacion?1').item.json.co_id }}",
            "me_mensajes": "={{ $('Mapeando mensaje1').item.json.conversation }}",
            "me_fecha": "={{ $('Mapeando mensaje1').item.json.date_time }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "me_id",
              "displayName": "me_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "me_mensajes",
              "displayName": "me_mensajes",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "me_fecha",
              "displayName": "me_fecha",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "me_from_me",
              "displayName": "me_from_me",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "me_conv_id",
              "displayName": "me_conv_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3904,
        1312
      ],
      "id": "aeb05890-7e6b-4124-b016-ef471c0dcca3",
      "name": "Registar mensaje1",
      "credentials": {
        "postgres": {
          "id": "7oc7RqApG6OhhiFs",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversaciones",
          "mode": "list",
          "cachedResultName": "conversaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "co_asesor_id": "={{ $json.as_id }}",
            "co_cliente_numero": "={{ $('Mapeando mensaje1').item.json.client_number }}",
            "co_fe_inicio": "={{ $('Mapeando mensaje1').item.json.date_time }}",
            "co_fe_fin": "={{ $('Mapeando mensaje1').item.json.date_time }}",
            "co_nom_cliente": "={{ $('Mapeando mensaje1').item.json.pushName }}",
            "co_estado": "ABIERTO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "co_id",
              "displayName": "co_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "co_fe_inicio",
              "displayName": "co_fe_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "co_fe_fin",
              "displayName": "co_fe_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "co_estado",
              "displayName": "co_estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "co_asesor_id",
              "displayName": "co_asesor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "co_cliente_numero",
              "displayName": "co_cliente_numero",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "co_nom_cliente",
              "displayName": "co_nom_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3616,
        1872
      ],
      "id": "543ce9c0-4264-4e18-b093-a40a5b88ed29",
      "name": "Crear conversacion cliente1",
      "credentials": {
        "postgres": {
          "id": "7oc7RqApG6OhhiFs",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversaciones",
          "mode": "list",
          "cachedResultName": "conversaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "co_asesor_id": "={{ $json.as_id }}",
            "co_cliente_numero": "={{ $('Mapeando mensaje1').item.json.client_number }}",
            "co_fe_inicio": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "co_fe_fin": "={{ $('Mapeando mensaje1').item.json.date_time }}",
            "co_estado": "ABIERTO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "co_id",
              "displayName": "co_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "co_fe_inicio",
              "displayName": "co_fe_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "co_fe_fin",
              "displayName": "co_fe_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "co_estado",
              "displayName": "co_estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "co_asesor_id",
              "displayName": "co_asesor_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "co_cliente_numero",
              "displayName": "co_cliente_numero",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "co_nom_cliente",
              "displayName": "co_nom_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3616,
        1648
      ],
      "id": "60aa39a4-e381-478b-87b5-16ff7550ab44",
      "name": "Crear conversacion asesor1",
      "credentials": {
        "postgres": {
          "id": "7oc7RqApG6OhhiFs",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "mensajes",
          "mode": "list",
          "cachedResultName": "mensajes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "me_from_me": "={{ $('Mapeando mensaje1').item.json.fromMe }}",
            "me_conv_id": "={{ $json.co_id }}",
            "me_fecha": "={{ $json.co_fe_inicio }}",
            "me_mensajes": "={{ $('Mapeando mensaje1').item.json.conversation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "me_id",
              "displayName": "me_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "me_mensajes",
              "displayName": "me_mensajes",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "me_fecha",
              "displayName": "me_fecha",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "me_from_me",
              "displayName": "me_from_me",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "me_conv_id",
              "displayName": "me_conv_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4160,
        1744
      ],
      "id": "92fb16ad-0683-4b17-b393-eb926dd0432d",
      "name": "Registar mensaje ",
      "credentials": {
        "postgres": {
          "id": "7oc7RqApG6OhhiFs",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "154acaca-9da2-45da-b1b8-51befef3ff2e",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "open",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Open"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "close",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1f4d29eb-2214-438a-83e7-48e1f4ae49c1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Close"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1120,
        1312
      ],
      "id": "d67d1363-15ca-414c-ab1b-0e6317937dd0",
      "name": "Estado de conexion1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5900f3a5-b126-4ee0-ab74-ed1c87423ab3",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "connection.update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Conexion"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        704,
        1632
      ],
      "id": "957ab29a-0b28-4a03-91cd-a86c0ba89411",
      "name": "Enrutar evento1"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "asesores",
          "mode": "list",
          "cachedResultName": "asesores"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "as_activo": false,
            "as_num_whatsapp": "={{ $json.sender }}"
          },
          "matchingColumns": [
            "as_num_whatsapp"
          ],
          "schema": [
            {
              "id": "as_id",
              "displayName": "as_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "as_num_whatsapp",
              "displayName": "as_num_whatsapp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "as_nombre",
              "displayName": "as_nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "as_activo",
              "displayName": "as_activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        1408
      ],
      "id": "18273fc4-6fa2-4479-92ee-5f177f0ae2ef",
      "name": "Desconectar asesor1",
      "credentials": {
        "postgres": {
          "id": "7oc7RqApG6OhhiFs",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "asesores",
          "mode": "list",
          "cachedResultName": "asesores"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "as_activo": true,
            "as_num_whatsapp": "={{ $json.wauid }}"
          },
          "matchingColumns": [
            "as_num_whatsapp"
          ],
          "schema": [
            {
              "id": "as_id",
              "displayName": "as_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "as_num_whatsapp",
              "displayName": "as_num_whatsapp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "as_nombre",
              "displayName": "as_nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "as_activo",
              "displayName": "as_activo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        1168
      ],
      "id": "c3b4ec23-3a20-443c-bd8c-e9c70d7d6ca2",
      "name": "Conectar asesor1",
      "credentials": {
        "postgres": {
          "id": "7oc7RqApG6OhhiFs",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "asesores",
          "mode": "list",
          "cachedResultName": "asesores"
        },
        "where": {
          "values": [
            {
              "column": "as_num_whatsapp",
              "value": "={{ $('Mapeando mensaje1').item.json.client_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        1648
      ],
      "id": "5e5fe6b0-f8af-40c5-9ba9-77f1a78909e6",
      "name": "Cliente es asesor?",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "7oc7RqApG6OhhiFs",
          "name": "Postgres local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a6410e2e-7c0b-4b1a-9aed-948c05a27d7d",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        1648
      ],
      "id": "455ec8d6-7077-47d7-a889-bba709f55060",
      "name": "¿Cliente no es asesor?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        1872
      ],
      "id": "0fa6a7a4-43b0-4df1-b50b-617fc1cf5206",
      "name": "No registar mensajes entre asesores"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Mapeando mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeando mensaje1": {
      "main": [
        [
          {
            "node": "Enrutar evento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe la conversacion?1": {
      "main": [
        [
          {
            "node": "Obtener datos del asesor ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener datos del asesor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Buscar conversaciones1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fromMe?1": {
      "main": [
        [
          {
            "node": "Actualizar nombre del cliente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registar mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "from Me?1": {
      "main": [
        [
          {
            "node": "Crear conversacion asesor1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear conversacion cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar conversaciones1": {
      "main": [
        [
          {
            "node": "¿Existe la conversacion?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener datos del asesor1": {
      "main": [
        [
          {
            "node": "from Me?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener datos del asesor ": {
      "main": [
        [
          {
            "node": "fromMe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar nombre del cliente1": {
      "main": [
        [
          {
            "node": "Registar mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear conversacion cliente1": {
      "main": [
        [
          {
            "node": "Registar mensaje ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear conversacion asesor1": {
      "main": [
        [
          {
            "node": "Registar mensaje ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado de conexion1": {
      "main": [
        [
          {
            "node": "Conectar asesor1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Desconectar asesor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutar evento1": {
      "main": [
        [
          {
            "node": "Estado de conexion1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cliente es asesor?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desconectar asesor1": {
      "main": [
        [
          {
            "node": "Notificar desconexion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente es asesor?": {
      "main": [
        [
          {
            "node": "¿Cliente no es asesor?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cliente no es asesor?": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No registar mensajes entre asesores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "edbf3b5c-1ae8-4c49-b3dc-d336e93eea03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac1a18f350e3dfeecd381ce820d4cd26d1637d10390598d4a153be282b88ce7a"
  },
  "id": "a5x2zekAzhxRC4N4",
  "tags": []
}